.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

h2,
h3 {
  color: #22613a;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-group input {
  padding: 10px;
  margin-right: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.form-group span {
  margin-left: 10px;
  font-size: 1em;
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.toggle-switch label {
  font-size: 1em;
}

button {
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-link {
  background: none;
  color: #1a73e8;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

button.btn-primary {
  background-color: #1a73e8;
  color: white;
  border: none;
  margin-top: 15px;
}

.total-weight {
  margin-top: 15px;
  font-size: 1.2em;
}
